* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, sans-serif;
}

body {
  background: #88ff7b;
  padding: 20px;
}

body.dark .app {
  background: #020617;
  color: #e5e7eb;
}
.header {
  text-align: center;
  margin-bottom: 20px;
}
.header p{
  text-align: center;
  margin-bottom: 20px;
  color: white;
}

.header h1 {
  color: #0f7a55;
}

body.dark {
  background: #0f172a;
}
.container {
  max-width: 700px;
  margin: auto;
  background: #fff;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

input, select, textarea, button {
  outline: none;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #4e4242f7;
}

button {
  background: #0f7a55;
  color: #fff;
  border: none;
  cursor: pointer;
}

button:hover {
  background: #0c5f42;
}

.waste-list {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.waste-card {
  background-color: rgb(255, 0, 0);
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
}

.waste-card.cleaned {
  background: green;
}

.actions button {
  /* background-color: red; */
  color: white;
  margin-left: 6px;
  padding: 6px 10px;
  font-size: 0.8rem;
}
.actions button::after {
  background-color: green;
}
.footer {
  text-align: center;
  margin-top: 20px;
  font-size: 0.8rem;
  color: #666;
}
#themeToggle {
  width: 80px;
  height: 90px  ;
  position: fixed;
  top: 20px;
  right: 20px;
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}
